@charset "UTF-8";

 /** 로그인 **/
            #loginfrm {width: 300px;
            margin: 120px auto}
            #loginfrm div { margin-bottom: 10px}
            #loginfrm label {display: inline-block; width: 120px;
                        text-align: right; font-weight: bold}
         	#loginfrm input, button {padding: 5px}
        	#loginfrm  input {width: 150px}
       	    #loginfrm  button {margin-left: 125px; width: 75px;}

/** 조인 **/
			#joinfrm { /*border: 1px solid red;*/ width: 300px;
                    margin: 100px auto;}
            #joinfrm div { margin-bottom: 10px;}
            #joinfrm label {display:inline-block; width: 110px;
                        text-align: right; font-weight: bold}

        	#joinfrm input, button { padding: 5px}
            #joinfrm  input {width: 150px}

/** 마이인포 **/
			#myinfo { width: 300px; margin:  125px auto;}
            #myinfo div { padding-bottom: 5px;}
      		#myinfo .label { display: inline-block; width: 120px;
                text-align: right; font-weight: bold;
                padding-right: 5px;}
                
 /** 리스트 **/               
                table {width : 75%; margin: 0 auto;
                border-collapse: collapse;
                table-layout: fixed;}
            th, td { border: 1px solid black;
             text-align: center; padding: 10px}
            td:nth-child(2) {white-space:nowrap; overflow: hidden;
                        text-overflow: ellipsis}
            button {width: 100px; padding: 5px; margin-right: -10px}
            .newbtn {text-align: right; border: none;}
            .tbnav {border : none;}
            .cpage { font-weight: bold; color: red; font-size: 35px}
            
 /** 뷰 **/           
            #view { width:600px; margin: 0 auto;
        		padding-to: 50px}
        	#view div { margin-bottom: 20px;}
        	#view div:first-child { margin-bottom: 25px;}
        	
        	#view div label { font-weight: bold;
        		display:inline-block; width: 120px;
        		text-align: right;}	
        	#view div span { border:1px solid silver; padding: 5px;}	
        	#view .contents {display:inline-block;
        			width: 450px; height:350px;}			
        	#view .dragup { vertical-align: top; }
        	
        	
/** 라이트 **/        	
        	#boardfrm { width:600px; margin: 0 auto;
        		padding-to: 50px}
        	#boardfrm div { margin-bottom: 10px;}
        	#boardfrm div label { font-weight: bold;
        		display:inline-block; width: 120px;
        		text-align: right;}	
        	#contents {display:inline-block;
        			width: 450px; height:150px;}	
        	/*div:nth-child(3) > label {vertical-align : top;}*/		
        	#boardfrm .dragup { vertical-align: top; }
        	
        	
            
            
            
            
                